<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="version" value="1.0"/>
		<add key="versiondate" value="23/10/2016"/>
		<add key="connectionstring" value="datasource=''"/>
		<add key="devicename" value="AC_01"/>
		<add key="deviceuser" value="AC01"/>
		<add key="dbserver" value="localhost"/>
		<add key="dbport" value="3306"/>
		<add key="db" value="AccessControl"/>
		<add key="dbuser" value="root"/>
		<add key="dbpassword" value="root"/>
	</appSettings>
</configuration>
//